#My snippets
#for json format

'.source.json':
  'Slides JSON':
    'prefix': 'slide'
    'body': '{"title":"$1",\n
              "desc":"$2",\n
              "image":"images/photo_$3.jpg"\n
               }$4'

